@import "../../elements/variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid $border-color;
  .breadcrumbs {
    display: flex;
    align-items: center;
    .title {
      font-weight: 500;
      font-size: 18px;
    }

    .subtitle {
      font-weight: 400;
      font-size: 18px;

    }
  }

}