@import "../../elements/variables";

.card{
  margin: 20px;
  box-shadow: 0 4px 8px $shadow-color;
  height: calc(100vh - 130px);
  border-radius: 10px;
  .header{
    padding: 20px;
    border-bottom: 2px solid $border-color;
    .title{
      font-weight: 500;
      font-size: 18px;
    }
    .subtitle{
      font-weight: 400;
      font-size: 18px;

    }
  }
}