@import '../../../elements/variables';

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: $text-color;
  text-align: left;
}