@import '../../../elements/variables';

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: $text-color;
  text-align: left;

  p {
    margin-bottom: 0;
  }

  &.tenant {
    padding: 0;
    height: 550px;

    .breadcrumbs {
      display: none;
    }

    .form {
      margin-top: 65px;
      box-shadow: none;

      .header {
        display: none;
      }
    }
  }

  &.edit-photo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    min-height: 576px;

    .preview-image {
      align-self: center;
      max-width: 826px;
      height: 488px;
      object-fit: contain;
    }

    .loading-image {
      padding: 144px;
      width: 200px;
      height: 200px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.invoice {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;

    .select {
      grid-column-start: span 2;
    }

    .out-of-grid {
      margin-top: 20px;
      grid-column-start: span 2;
      column-gap: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &.expense {
    min-height: 700px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-row-gap: 10px;
    gap: 20px;
    grid-template-rows: 0fr 0fr;

    .out-of-grid {
      margin-top: 20px;
      grid-column-start: span 2;
      column-gap: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  &.payment{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    .input-field{
      &.title{
        grid-column: span 2;
      }
    }
  }
}