@import "../../variables";

.checkbox-display{
  &.email{
    border-top: 2px solid $border-color;
  }

  .checkbox-input{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    .checkbox-label{
      font-weight: 400;
      font-size: 15px;
      color: $text-color-strong;
    }
    .remember-me {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 12px;
      border: 1px solid $check-box-color;
      border-radius: 0;

      &:checked {
        background-color: $primary-color !important;
      }
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        clip-path: polygon(73.01% 25.14%, 82.62% 32.94%, 45.75% 78.29%, 19.46% 56.91%, 26.13% 48.7%, 42.82% 62.27%);
        transform: scale(0);
        background-color: white;
      }

      &:checked::before {
        transform: scale(1);
      }
    }
  }
  .checkbox-content{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .input-container{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}