@import '../../../elements/variables';

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 15px 15px 25px 15px;

  .button {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 56px;
    font-size: 15px;
    font-weight: 500;
  }
}